section{
  display:block;
}
footer{
  margin-top: 3rem;
  background-color: #001628;
  .flex-wrap .link_header {
    font-size: 1.3rem;
    font-weight: 900;
  }
  aside {
    padding: 1.2rem;
    background-color: #ccc;
    margin: 0 auto;
    font-weight: 700;
  }
  section.flex-wrap {
    display: flex;
    flex-direction: row;
  }
  .flex-wrap div {
    flex-basis: 35rem;
  }
}


h2 + p {
  margin-top: 0;
  padding-top: 0;
}

h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

p {
  margin: 1em 0 0 0;
  padding: 0;
}

.containerIndex {
  margin: 0 auto;
}

a {
  color: #42b4d6;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.full {
  width: 100vw;
}

.title {
  font-size: 64px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}


@media (min-width: 869px) {
  
}

@media (min-width: 681px) and (max-width: 868px) {
 
}

span#brand {
  display: block;
  font-weight: bold;
  font-size: 2.4rem;
}
#present {
  font-size: 1.2em;
  color: red;
}

.navv {
  color: #fff;
  font-weight: bold;
}

//colors
span#weblogo2 {
  color: #cee026;
}

span#weblogoG {
  color: #00a86b;
}

span#weblogoi {
  color: #008ecc;
}

span#weblogol {
  color: #ff0800;
}

.forest {
  background-color: #0b6623;
}

.red {
  color: #ff0800;
}

.white {
  color: #fff;
}
.forestvegi{
  color: rgb(25, 233, 18);
}
.blue{
  color: #4285f4
}
.semi-white{
  color: rgb(240, 234, 234);
}
.universe-green{
  color: #34a853;
}

.text-black {
  color: #000;
}

span.icon {
  display: none;
}
.b_grey{
  color:#918787 !important;
}
.bold{
  font-weight: bolder;
}
.center{
  margin: 0 auto;
}