@media all and (max-width: 600px) {
  footer {
    section.flex-wrap {
    display: flex;
    flex-direction: column;
   }

   .flex-wrap div {
    flex-basis: 5rem;
    .link_header{
      font-size: 1.1rem;
     }
   }


  }

  #imp{
      width: 80vw ;
  }
  .anchor_statement{
    max-height: 28vh;
    min-height: 23vh;
    p{
      line-height: 1.6em;
      font-size: 1.2rem;
    }
  }
  
}