body{
    color: #212121;
    font: 400 16px/24px Roboto,sans-serif;
    font-variant-caps: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 16px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    font-size-adjust: none;
    font-kerning: auto;
    font-variant-alternates: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-position: normal;
    font-language-override: normal;
    font-feature-settings: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
   background-color: #fff;
  height: 100vh;
  margin: 0;
  display: block;
  margin: 0 auto;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;

}
.mod_page{
  transition: background-color .4s ease-in-out;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
  margin: 0;
  padding: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.anchor_statement{
  height: calc(65vh - 65px);
  max-height: 583px;
  min-height: 440px;
  p{
    font-size: 2.475rem;
    line-height: 3.75rem;
  }
}
.about-page{
  section:nth-child(2){
    div>p{
      color: #666666;
      font-weight: 900;
      padding: 1em;;
    }
  }
  section:nth-child(3){
    border: 2px solid #f1e6e6;
    width: 20em;
    padding: 2rem 4rem;
  }
}



